<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <!-- 네트워크 통신 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 위치 권한 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 백그라운드 위치 (나중에 백그라운드 동작 단계에서 실제로 쓸 예정) -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <!-- 진동 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 포그라운드 서비스 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <!-- 알림(안드로이드 13+) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
	<uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

        <supports-screens
            android:smallScreens="true"
            android:normalScreens="true"
            android:largeScreens="false"
            android:xlargeScreens="false"
            android:anyDensity="true" />

    <application
		android:name="${applicationName}"
        android:label="안전지키미"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">

        <activity
			android:name="com.civil.safetyapp.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.civil.safetyapp.LocationService"
            android:foregroundServiceType="location"
			android:enabled="true"
            android:exported="false"/>

        <!-- 🔹 Flutter에 "이 앱은 Android v2 embedding이다"라고 명시 -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>